/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/
body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400px;
	margin: 0;
	padding: 0;
	color: #17494D;
}
.menu__container {
	

}
.header {

}
.container {
	width: 1090px;
	margin: 0 auto;
}
.header__menu {
	padding: 15px 0px 25px 0px;
}
.header__link {
	margin-right: 12px;
}
.header__links {
	display: flex;
	justify-content: flex-end;
}
.link {
	color: #17494D;
	font-size: 12px;
	line-height: 18px;

}
.header__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 6px;
}
.header__logo {}
.header__now {}
.header__now-link {
	margin-right: 59px;
}
.header__link:last-child{
	margin: 0px;
}

.now-link {
	font-size: 16px;
	line-height: 24px;
	color: #03363D;

}
.now-link__btn {
	padding: 11px 32px;
	background: #17494D;
	color: #fff;
	padding: 11px 32px;
	text-align: center;
	transition: all 0.5s ease;
}
.now-link__btn:hover {
	background: #1C676D;
}
.header__now-link:last-child{
	margin: 0px;
}
.header__page {
	background: #17494D;
	padding: 92px 0px 178px 0px;

}
.container__page {
	width: 1060px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__title {
	font-size: 77px;
	font-weight: 700;
	line-height: 97.5px;
	width: 440px;
}
.header__span-one {
	color: #CE9FB7;
}
.header__span-two {
	color: #fff;
}
.header__span-three {
	color: #00A656;
	background: url(../img/header/Rectangle-1.svg)no-repeat bottom;

}
.header__span-four {
	color: #30AABC;
	background: url(../img/header/Rectangle.svg)no-repeat bottom;
}
.header__subtitle {
	font-size: 20px;
	line-height: 28px;
	width: 400px;
	color: #fff;
}
.header__row-btn {
	margin-top: 44px;
}
.header-batton {
	font-size: 18px;
	background: #FF6224;
	color: #fff;
	/*display: block;*/
	padding: 13px 26px;
	text-align: center;
	transition: all 0.5s ease;
	line-height: 25px;
	margin-left: 16px;
}
.header__button {
	border: 2px solid #FF6224;
	background: none;
	color: #FF6224;
	padding: 11px 24px;
}
.header-batton:hover {
	background: #FED6A8;
	color: #17494D
}
.header__button:hover {
	border: 2px solid #FED6A8;
	background: none;
	color: #FED6A8;
}
.header-batton:first-child {
	margin: 0;
}
.section__one {
	background: #FED6A8;
	padding: 29px 0px 26px 0px;
}
.section-one__wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}
.section-one__image {
	width: 527PX;
	height: 348PX;
	/*background: #fff;*/
	position: relative;
	/*background: url(../img/section__one/image 3.jpg);*/
}
.section-one__image-1 {
	position: absolute;
	z-index: 4;
}
.section-one__image-2 {
	position: absolute;
	margin-top: 59px;
	margin-left: 61px;
}

.section-one__image-3 {
	z-index: 6;
	position: absolute;
	margin-left: -45px;
	margin-top: -82px;
}
.section-one__body {
	width: 430px;
	margin-left: 70px;
}
.section-one__title {
	font-size: 31px;
	font-weight: 700;
	line-height: 40px;
	color: #03363D;
}
.section-one__subtitle {
	margin-top: 26px;
}
.section-one-subtitle {
	font-size: 16px;
	line-height: 24px;
}
.section-one__links {
	margin-top: 50px;
}
.section-one__link {
	padding: 0px 4px 2px 4px;
	margin-left: 16px;
	background: url(../img/section__five/Rectangle.svg) no-repeat bottom;

}
.section-one-link {
	font-size: 18px;
	font-weight: 700;
	line-height: 27px;
	color: #03363D;
	/*text-decoration: underline;*/

}
.section-one__link:hover {
	background: none;
	color: #1C676D;

}
.section-two {
	padding: 108px 0px 142px 0px;
}
.container {}
.section-two__title {
	text-align: center;
	width: 578px;
	margin: 0 auto;
}
.section-two-title {
	font-size: 48px;
	line-height: 56px;
	font-weight: 700;
	color: #03363D;
}

.section-two__subtitle {
	text-align: center;
	width: 578px;
	margin: 0 auto;
	margin-top: 24px;
}
.section-two-subtitle {
	font-size: 20px;
	line-height: 28px;
	color: #03363D;
}
.section-two__links {
	margin-top: 29px;
	text-align: center;
	align-items: center;
}

.section-two-link {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 16px;
	font-weight: 700;
	line-height: 22px;
	color: #03363D;
	padding: 0px 4px 2px 4px;
	background: url(../img/section__one/Rectangle.svg) no-repeat bottom;
}
.section-two-link__2 {
	margin-left: 54px;
}
.section-two-link-2 {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 15px;
	font-weight: 400;
	line-height: 22px;
	color: #68737D;
}
.section-two__wrapper {
	margin-top: 46px;
	display: flex;
	justify-content: space-between;
}
.section-two__body {
}
.section-two__body-title {
	width: 358px;
}
.section-two-body-title {
	font-size: 32px;
	line-height: 40px;
	font-weight: 700;;
	color: #03363D;
}
.section-two__body-subtitle {
	margin-top: 21px;
}
.section-two-body-subtitle {
	font-size: 16px;
	line-height: 24px;
	color: #17494D;
	width: 335px;
	font-weight: 300;
}
.section-two__body-link {
	margin: 0;
	margin-top: 30px;
}
.section-two__dialog {
	margin-top: 66px;
	margin-left: 40px;
	padding-left: 35px;
	background: url(../img/section__two/Rectangle.svg) no-repeat left;
}
.section-two__logo {}
.section-two__text {
	margin-top: 21px;
	width: 280px;
}
.section-two-text {
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
}
.section-two__name {
	font-size: 15px;
	margin-top: 14px;
}
.section-two__intro {
	font-size: 14px;
	line-height: 18px;
	width: 280px;
}

.section-two__image {
	margin-top: 15px;
	width: 634px;
	height: 803px;
	
	position: relative;
}
.section-two__image-1 {
	position: absolute;
	z-index: 3;
	margin-top: 382px;
}
.section-two__image-2 {
	position: absolute;
	margin-left: 101px;
}

.section-three__image {
	background-image: url(../img/section__three/Rectangle.jpg);
	width: 1440px;
	height: 640px;
	display: block;
	margin: 0 auto;
	padding: 112px 0px;
	z-index: 4;

}
.section-three__background {
	background: #F8F9F9;
	height: 640px;

}
.container {}
.section-three__body {
	background: #fff;
	width: 625px;
	height: 416px;
	padding: 66px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.section-three__title {
	font-size: 48px;
	line-height: 56px;
	color: #03363D;
}
.section-three__subtitle {
	font-size: 15px;
	line-height: 24px;
	color: #17494D;
}
.section-three__links {
	margin: 0;
}
.section-three__link_1 {
	margin: 0;
}
.section-three__link_2 {
	margin-left: 36px;
}
.section-three-link {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px

}
.section-three__block {
	display: flex;
	justify-content: flex-end;
}
.section-four {
	padding: 72px 0px;
}
.container {}
.section-four__carts {
	display: flex;
	margin: 0px -8px;
*/}
.section-four__item{
	background: #F8F9F9;
	padding: 32px;
	display: flex;
	flex-direction: column;
}
.section-four__cart {
	flex: 0 1 33.333%;
	padding: 0px 8px;
	display: flex;
}
.cart__name {
	font-size: 14px;
	line-height: 22px;
	font-weight: 500;;
	color: #03363D;
	letter-spacing: 2px;
}
.cart__title {
	margin-top: 8px;
}
.cart-title {
	font-size: 24px;
	line-height: 32px;
	font-weight: 700;;
	color: #03363D;
}
.cart-subtitle {
	font-size: 15px;
	line-height: 24px;
	color: #17494D;
	flex: 1 1 auto;

}
.cart__subtitle {
	margin: 26px 0px 28px 0px;
}
.section-four__item_1{
	border-bottom: 2px solid #7D3D54;
}
.section-four__item_2 {
	border-bottom: 2px solid #3D8DAE;
}
.section-four__item_3 {
	border-bottom: 2px solid #C38F00;
}
.section-three__link_1 {}
.section-three-link {}
.section-one__link {}
.section-one-link {}
.section-four__block {
	margin-top: 72px;
}
.section-four-block {
	width: 100%;
	padding: 48px 0px;
	background: #F8F9F9;
}
.block__subtitle {
	font-size: 32px;
	line-height: 40px;
	font-weight: 700;;
	color: #03363D;
	text-align: center;
}
.section-four__logo {
	text-align: center;
	margin-top: 24px;
}
.block__imege {}
.section-five {
	background: #F8F9F9;
	padding: 96px 0px 31px 0px;
}
.container {}
.secion-five__wrapper {
	display: flex;
	justify-content: space-between;
}
.section-five__body {
	margin-top: 22px;
}
.section-five__title {
	width: 412px;
}
.section-two-title {}
.section-five__subtitle {
	width: 412px;
	margin-top: 20px;
}
.section-two-subtitle {}
.section-five__logos {
	align-items: center;
	/*margin-top: 50px;*/
	display: flex;
	width: 510px;
	flex-wrap: wrap;
}
.section-five__logo {
	margin-right: 55px;
	margin-top: 49PX;
}
.section-three__link_1 {}
.sectiona-five__link {
	margin-top: 62px;
}

.sectiona-five__link_1 {
	font-size: 18PX;
}
.section-one__link {}
.section-one-link {}
.section-five__images {
	width: 493px;
	height: 560px;
	position: relative;
}
.section-five__image_1 {
	position: absolute;
	margin-left: 282px;
	z-index: 3;
}
.section-five__image_2 {
	position: absolute;
	z-index: 2;
	margin-top: 60px;
}

.section-five__image_3 {
	margin-left: 230px;
	margin-top: 218px;
	z-index: 1;
	position: absolute;
}
.section-five__logo {
}

.section-six {
	padding: 90px 0px;
}
.container {}
.section-six__line {}
.section-six-line {}
.section-six__body {
	padding-top: 46px;
	display: flex;
	justify-content: space-between;
	border-top: 2px solid #C2C8CC;
}
.section-six__title {
	width: 290px;
}
.section-six__text-row {
	display: flex;
	justify-content: space-between;
}
.section-six__column-two{
	margin-left: 45px;
}
.section-six__subtitle {
	margin-bottom: 19px;
	width: 311px;
	padding-right: 21px;
	/*padding-bottom: 2px;*/
	border-bottom: 2px solid #03363D;
	/*background: url(../img/section__six/Rectangle.svg) no-repeat bottom;*/
}
.section-six__text{
	font-size: 18px;
	line-height: 27px;
	color: #03363D;
}
.section-seven {
	background: #d6eef2;
	padding: 122px 0px;
}
.section-seven__button {
	font-size: 18px;
	line-height: 25px;
	font-weight: 700;
	text-align: center;
	padding: 14px 26px;
	color: #fff;
	background: #17494D;
	transition: all 0.5s ease;
	margin-right: 16px;
}
.container {}
.section-seven__title {
	text-align: center;
}
.section-seven__buttons {
	text-align: center;
	margin-top: 48px;
}
.section-seven__button_1 {}
.section-seven__button_2 {
	border: 2px solid #17494D;
	background: none;
	color: #17494D;
	padding: 12px 24px;
}
.section-seven__button:last-child{
	margin: 0;
}
.section-seven__button:hover{
	background: #1C676D;
	border: 2px solid #1C676D;
	color: #fff
}
.section-seven__button:first-child{
	border: none;
}
.footer {
	padding: 100px 0px 40px 0px;
}
.container {}
.footer__row-one {
	padding-bottom: 26px;
	border-bottom: 1px solid #C2C8CC;
	display: flex;
	justify-content: space-between;
}

.footer__left {}
.fotter__logo {}
.footer-title {
	font-size: 23px;
	line-height: 32px;
	color: #03363D;
}
.footer__title_1 {
	width: 128px;
	margin-top: 20px;
}
.footer__title_2 {
	margin-top: 6px;
}

.footer__right {
	width: 900px;
	display: flex;
	justify-content: space-between;
	margin-top: 45px;
}
.footer__colomn {}
.footer__colomn-title {
	font-size: 14px;
	line-height: 22px;
	color: #03363D;
	letter-spacing: 2px;
	margin-bottom: 9px;
}
.footer__colomn-link {}
.footer__link_1 {
	margin-bottom: 3px;
}
.footer__link_2 {
	margin-right: 24px;
}
.footer-link {
	font-size: 12px;
	line-height: 19.5px;
	color: #68737D;
}
.footer-link:hover{
	color: #03363D;
}
.footer__line {}
.footer__row-two {
	align-items: center;
	display: flex;
	margin-top: 26px;
}
.footer__left-block {}
.footer__subtitle {}
.footer__right-block {}
.footer__form {
	display: flex;
	align-items: center;
	margin-left: 78px;
}
.footer__input {
	border: 1px solid #68737D;
	font-size: 12px;
	line-height: 24px;
	display: block;
	width: 316px;
	padding: 13px 0;
	padding-left: 33px;
}
.footer__button {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	text-align: center;
	padding: 14px 26px;
	color: #fff;
	background: #17494D;
	transition: all 0.5s ease;
	margin-right: 16px;
}
.footer__button:hover{
	background: #1C676D;
}
.footer__row-three {
	margin-top: 32px;
	display: flex;
}
.footer__row-four {
	margin-top: 63px;
}
.footer-text {
	font-size: 13px;
	line-height: 18px;
	color: #68737D;
}
.footer__text {
	margin-top: 1px;
	font-size: 14px;
}